#message-form input {
    border: 1px solid #7DA3F3;
    border-radius: 10px;
    padding: 10px;
    background: none;
}

#message-form button {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    background: #7DA3F3;
    color: white;
    cursor: pointer;
}
#message-form button:hover {
    border: 1px solid #7DA3F3;
    background: transparent;
    color: #7DA3F3;
}

#messages {
    list-style-type: none;
}